PARADYM_API_KEY=
PARADYM_PROJECT_ID=

# Leave empty in case the scripts/setup.ts is used,
# which will automatically create the templates and set the IDs here.
PARADYM_PRESENTATION_TEMPLATE_ID=
PARADYM_CREDENTIAL_TEMPLATE_ID=